<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rong.sight">

    <application>
        <activity
            android:name="io.rong.sight.player.SightPlayerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/sight/player"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.sight.player.SightListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.sight.record.SightRecordActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>