<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rongcloud.im">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <!-- 发送位置消息，实时位置共享，如果您需要定位相关的功能，可以打开以下注释 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- targetSdkVersion为29时，如果需要后台定位权限，需要添加 ACCESS_BACKGROUND_LOCATION 权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- ⼩米 配置开始 < -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <!-- GCM 配置结束 < -->
    <!-- 华为 配置开始 < -->
    <!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--检测网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--检测wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--为了获取用户手机的IMEI，用来唯一的标识用户;发送位置及实时位置时需要此权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 华为 配置结束 < -->

    <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息-->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.push.permission.MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.push.permission.MESSAGE" />
    <!-- 兼容 flyme3.0 配置权限-->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <!-- MeiZu 配置结束 < -->

    <!-- OPPPO 权限配置-->
    <uses-permission android:name="com.coloros.mcs.permission.SEND_MCS_MESSAGE" />
    <!-- OPPO 配置结束-->

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--为了获取用户手机的IMEI，用来唯一的标识用户;发送位置消息，实时位置共享需要此权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".SealApp"
        android:allowBackup="true"
        android:icon="@drawable/seal_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="sealtalk" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.SelectCountryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="cn.rongcloud.im.ui.activity.MainActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <!--聚合会话列表-->
        <activity
            android:name=".ui.activity.SubConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!--聚合会话列表-->
        <activity
            android:name=".ui.activity.NewFriendListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.GroupNoticeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.SealSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchHistoryMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublicServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublicServiceSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublicServiceInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/publicServiceProfile"
                    android:scheme="rong" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/publicServiceInfo"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AccountSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutSealTalkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SealTalkDebugTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PrivateChatSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GroupDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GroupMemberListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GroupNoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectSingleFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectGroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectGroupMemberAllowEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectFriendExcludeGroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SelectForwardCreateChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectCreateGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ForwardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdateNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdateStAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdateGenderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditAliasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BlackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectChatBgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewMessageRemindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDonotDisturbSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberMentionedExActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QrCodeDisplayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.QrCodeDisplayWindowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentNoTitleActivity" />

        <!--        <activity-->
        <!--            android:name=".ui.activity.SealPicturePagerActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->
        <activity
            android:name=".ui.activity.JoinGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupManagementsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GroupSetManagementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupSetNewGroupOwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupCopyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupExitedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ClearChatMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditUserDescribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectForwardMoreContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForwardSelectedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddFriendFromContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InviteFriendFromContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RequestContactPermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PokeInviteChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DeepBlackTranslucentNoTitleActivity" />

        <activity
            android:name=".ui.activity.MultiDeleteFriendsActivity"
            android:screenOrientation="portrait" />


        <!-- 请将CHANNAL改为app的发布渠道 < -->
        <meta-data
            android:name="InstallChannel"
            android:value="CHANNAL" />

        <!-- 高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e09af6a2b26c02086e9216bd07c960ae" />

        <!-- push start-->
        <receiver
            android:name=".push.SealNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>


        <!--第三方的推送 权限 广播 和服务-->

        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.mi.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->

        <!-- [START firebase_service] -->
        <service
            android:name="io.rong.push.platform.google.RongFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <!-- [END firebase_service] -->

        <!-- MeiZu 配置开始 < -->
        <receiver android:name="io.rong.push.platform.meizu.MeiZuReceiver">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />

                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- MeiZu 配置结束 < -->


        <!-- vivo 推送配置 开始 -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />

        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.GroupReadReceiptDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 微信 接收微信的请求及返回值 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--推送配置项-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="9379dbec440afd82e6d8fd903204c9a7" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="103912318" />

        <!-- push 应用定义消息 receiver 声明 -->
        <receiver android:name="io.rong.push.platform.vivo.VivoPushMessageReceiver">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- vivo 推送配置 结束 -->

        <!--第三方推送的权限 广播 服务 配置结束-->
        <!-- push end -->

        <!-- bugly 配置 APP ID -->
        <!--
        <meta-data
            android:name="BUGLY_APPID"
            android:value="您申请 BUGLY 的 AppId" />
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <service
            android:name="io.rong.push.platform.hms.HMSPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.test.PushConfigActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.test.DiscussionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.test.ChatRoomStatusActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.test.ChatRoomStatusDeatilActivity"
            android:screenOrientation="portrait" />

        <!--消息扩展-->
        <activity
            android:name=".ui.test.MsgExpansionConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.test.MessageExpansionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.test.TagTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.test.ShortageConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.test.ShortageDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.test.GRRSenderTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.GRRConversationListTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.GRRReceiverTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.GRRDetailTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.ChatRoomListenerTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.ChatRoomTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.DeviceInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.CommonConversationTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.CommonConversationListTestActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>