<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rong.imkit">

    <!-- 访问相册，访问文件系统等 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 发送位置消息，实时位置共享 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 拍照等 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 音视频 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 使用ActivityManager需要 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 适配 Android 8.0 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <activity
            android:name="io.rong.imkit.plugin.location.AMapLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.plugin.location.AMapLocationActivity2D"
            android:screenOrientation="portrait" />

        <activity android:name="io.rong.imkit.plugin.location.AMapPreviewActivity" />
        <activity android:name="io.rong.imkit.plugin.location.AMapPreviewActivity2D" />

        <activity android:name="io.rong.imkit.plugin.location.AMapRealTimeActivity" />
        <activity android:name="io.rong.imkit.plugin.location.AMapRealTimeActivity2D" />

        <activity
            android:name="io.rong.imkit.plugin.location.SearchLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="io.rong.imkit.plugin.image.PictureSelectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.rong.imkit.plugin.image.PicturePreviewActivity"
            android:screenOrientation="portrait" />

        <!-- 开发者可以修改 RongBaseActivity 的 rc_base_activity_layout 布局文件调整 actionbar-->
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.webview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.rong.imkit.activity.PicturePagerActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.picturepagerview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.imkit.mention.MemberMentionedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="io.rong.imkit.activity.FileManagerActivity" />
        <activity android:name="io.rong.imkit.activity.FileListActivity" />
        <activity
            android:name="io.rong.imkit.activity.FilePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.openfile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CSLeaveMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="包名.FileProvider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/rc_file_path"/>-->
        <!--</provider>-->
    </application>

</manifest>