<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jrmf360.rylib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.AddCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.AddCardFirsstActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.AddCardSecondActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.BankCardListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.EnBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.PayTypeActivity"
            android:theme="@style/jrmf_dialog"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.TransPayActivity"
            android:launchMode="singleTask"
            android:theme="@style/jrmf_dialog"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.RealNameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.jrmf360.rylib.rp.ui.ResetPswdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.SendGroupEnvelopesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.SendSingleEnvelopesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.SettingPswdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.RpDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.MyRpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.FindPwdByInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.TransAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.TransSuccActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.rp.ui.TransDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <!--钱包 配置开始-->
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.MyWalletActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.AccountInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.TradeHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.SecureSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.SetPayPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.IdentityAuthenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.UpdatePwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.GetPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.SupportBankCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.BankSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.AddCardSecondActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.AddCardFirstActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.RechargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.jrmf360.rylib.wallet.ui.GetDepositActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.MyRpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.SelectSubBankActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.jrmf360.rylib.wallet.ui.TradeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!--钱包配置结束-->


        <!--支付宝 begin-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">

        </activity>
        <!--支付宝 end-->

    </application>

</manifest>
