<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rong.imlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <!-- imlib config begin -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="n19jmcy59f1q9" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc" />

        <receiver
            android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true" />

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />
        <!-- imlib config end -->

        <!--必选： SDK 核心功能-->
        <service
            android:name="io.rong.push.rongpush.PushService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process="io.rong.push" />

        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.rongpush.PushReceiver"
            android:process="io.rong.push">   <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件和网络切换事件监听,必须 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <!-- 部分用户事件监听, 用来提高推送拉活率; 可移除 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!--必选： SDK 核心功能-->

        <!-- end -->
    </application>

</manifest>
